<script lang="ts" setup>
import { computed, inject, onMounted, unref } from "vue";
import { useRouter } from "vue-router";
import { useOidcStore } from "vue3-oidc";
import axios from "axios";
import { CHAT_APP_API_URL, CHAT_APP_HOME_PATH } from "@/utils/keys";
import { getAuthHeaders } from '@/utils/auth';
import type { User } from 'oidc-client-ts';
import type { AxiosError, AxiosRequestHeaders } from 'axios';
const { state, actions } = useOidcStore();

const userManager = computed(() => state.value.userManager);

const router = useRouter();
const apiUrl = inject(CHAT_APP_API_URL);
const redirectPath = inject(CHAT_APP_HOME_PATH);
//console.log('Redirect path:', redirectPath); // Debug line

/**
 * manually handle login and will save user to state
 */
onMounted(async () => {
  let user = (await unref(state).userManager?.getUser()) || unref(state).user;
  if (!user) {
    user = (await userManager.value?.signinRedirectCallback()) || null;
  }
  
  actions.value.setUser(user!);

  await checkUserInDb(user);
  console.log('Redirect path:', redirectPath);
  if (!redirectPath) {
    throw new Error('Redirect path is undefined');
  }
  
  router.push(redirectPath);

});

async function checkUserInDb(user: User | null) {
  if (!user) {
    console.error('[API] No user provided');
    return;
  }

  try {
    const userId = user.profile.goe_id;
    const authHeaders = await getAuthHeaders();
    if (!authHeaders.Authorization) {
      throw new Error('No valid authorization token available');
    }

    const response = await axios.post(
      `${apiUrl}/api/check_user/`, 
      { user_id: userId },
      { 
        headers: authHeaders as AxiosRequestHeaders
      }
    );
    
    if (response.data.exists) {
      console.log('[API] User exists in database');
    } else {
      console.log('[API] New user created');
    }
  } catch (error) {
    console.error('[API] Error checking user in database:', error);
    if (axios.isAxiosError(error)) {
      const axiosError = error as AxiosError;
      if (axiosError.response) {
        console.error('[API] Response data:', axiosError.response.data);
        console.error('[API] Response status:', axiosError.response.status);
        console.error('[API] Response headers:', axiosError.response.headers);
      } else if (axiosError.request) {
        console.error('[API] Request data:', axiosError.request);
      }
    } else {
      console.error('[API] Error message:', (error as Error).message);
    }
  }
}
</script>

<template>
  <div>
    <h1>Logging in...</h1>
  </div>
</template>
