<script lang="ts">
import ChatArea from '@/views/components/ChatArea.vue';
import PromptList from '@/views/components/PromptList.vue'
import DropdownLLM from '@/views/components/Dropdown.vue';
import ChatHistory from './components/ChatHistory.vue';
import axios from 'axios';
import { mapGetters, mapActions, mapMutations } from 'vuex'
import { CHAT_APP_API_URL, CHAT_APP_OIDC_BASE_URL, CHAT_APP_OIDC_CLIENT_ID, CHAT_APP_OIDC_REALM, CHAT_APP_OIDC_REDIRECT_PATH } from '@/utils/keys';
import { inject } from 'vue';
import { useAuth, useOidcStore } from "vue3-oidc";

const { autoAuthenticate } = useAuth();

interface Message {
  role: 'user' | 'assistant';
  content: string;
  sources: [];
}
export default {
  
  components: {
    ChatArea,
    ChatHistory,
    PromptList,
    DropdownLLM
  },
  data() {
    return {
      newMessageContent: '',
      streamingMessage: '',
      messages: [] as Message[],
      selectedItem: {
        name: 'Game-Based Learning LLM',
        type: 'Custom'
      },
      apiUrl: null,
      state: useOidcStore().state
    }
  },
  computed: {
    ...mapGetters('modelStore', ['getModelList']),
    ...mapGetters('conversationsStore', ['selectedConversation']),
    user() {
      // Computed property for the user profile
      return this.state.user?.profile || null;
    },
 },
  mounted() {
      autoAuthenticate()
      .then(() => {
        //console.log("Authentication successful.");
        //console.log(this.state)
        //console.log(useOidcStore().state.value)
      })
      .catch((error: any) => {
          console.error("Authentication failed: ", error);
      });

    // Log the store getters for debugging
    ////console.log(this.$store.getters);
    //console.log(inject(CHAT_APP_API_URL), inject(CHAT_APP_OIDC_BASE_URL), inject(CHAT_APP_OIDC_CLIENT_ID), inject(CHAT_APP_OIDC_REALM), inject(CHAT_APP_OIDC_REDIRECT_PATH))
    this.apiUrl = inject(CHAT_APP_API_URL)
    // Check if the user is authenticated
    if (this.user) {
      // Call the fetchAllModels action with the user ID
        this.$store.dispatch('modelStore/fetchAllModels', inject(CHAT_APP_API_URL))
        .then(() => {
          this.setSelectedModel(this.getModelList[0])
        })
} else {
        //console.log('User not authenticated, unable to fetch models.');
    }
  },

  methods: {
    ...mapMutations('modelStore', [
      'setSelectedModel'
    ]),
    ...mapActions('oidcStore', [
      'oidcSignInCallback',
      'authenticateOidc'
    ]),
    async deleteSelectedConversation() {
      if (this.selectedConversation) {
        await this.$store.dispatch('conversationsStore/deleteConversation', {
          conversationId: this.selectedConversation.id,
          userId: this.user.goe_id,
          url: this.apiUrl
        });

        // refresh the conversation list
        await this.$store.dispatch('conversationsStore/fetchConversations', this.apiUrl);
      } else {
        console.error('No conversation selected for deletion.');
      }
    },
  },
  created() {

  }

}
</script>
<template>
  
  <div class="inbox-content-generation">
    <ChatHistory/>
    <section class="user-controls">
      <div class="assistant-options">
        <div class="model-selection">
          <DropdownLLM :selected-item="selectedItem"></DropdownLLM>
          <div class="app-controls">
            <div class="app-options">
              <div class="plugin-area">


                <div class="button-14">
                  <div class="plugin-icon">

                  </div>
                  <a href="https://text-plus.org/helpdesk/#kontaktformular" class="plugins-link">
              <div class="plugins">Helpdesk</div>
            </a>                </div>
              </div>
              <div class="user-settings">
                <!-- Icons commented out for future use
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                  <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
                </svg>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <ChatArea/>

    </section>
    <div class="inbox-content-generation-child"></div>
  </div>
</template>
<style>
.user-controls {
  display: flex;
  align-items: center;
  max-width: 100%;
  position: fixed;
  margin: 0 !important;
  top: 13px;
  left: 347px;
  bottom: 150px;
  right: 106px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24.3px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);

}
.chevron-down-large {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.user-options-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.apps-icon,
.icon-button-21 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-button-21 {
  height: 36px;
  width: 36px;
  border-radius: var(--br-xs);
  min-height: 36px;
}
.apps-icon {
  width: 16px;
  height: 16px;
}
.plugin-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.plugins {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 50px;
  color: #666;
}
.button-14 {
  box-shadow: 0 0 2px rgba(26, 26, 26, 0.12), 0 0 1px rgba(26, 26, 26, 0.07);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-6xs) var(--padding-2xs) var(--padding-6xs)
    var(--padding-xs);
  gap: var(--gap-7xs);
}
.button-14,
.plugin-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.app-options,
.user-settings {
  flex-direction: row;
  justify-content: flex-start;
}
.user-settings {
  display: flex;
  align-items: flex-start;
  gap: 9px;
}
.app-options {
  align-self: stretch;
  gap: 14px;
}
.app-controls,
.app-options,
.model-selection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.app-controls {
  width: 226px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}
.model-selection {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-smi);
  gap: var(--gap-xl);
}
.assistant-options-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  margin-top: -1px;
}
.assistant-options {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 3px;
  font-size: var(--font-size-xl);
}

.avatar-12-icon {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: var(--br-lg);
  overflow: hidden;
  flex-shrink: 0;
}

.image-14-icon {
  height: 36px;
  width: 36px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.atmospheric-dynamics-the,
.blank-line,
.blank-line1,
.solar-influence-the,
.the-two-main {
  margin: 0;
}
.the-two-main-container {
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  max-width: 100%;
}

.chevron-up-large {
  width: 12px;
  height: 12px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}



.button-17 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-6xs) var(--padding-8xs)
    var(--padding-5xs);
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-4xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}



@media screen and (max-width: 625px) {
  .container-40 {
    display: none;
  }
  .received-message-container,
  .sent-message-container {
    min-width: 100%;
  }
  .additional-prompts {
    flex-wrap: wrap;
  }
  .hidden-prompts {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .text-ai-assistant {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .side-menu-logo-name-parent {
    gap: 16px;
  }
  .container-40 {
    gap: 66px;
  }
  .gpt4 {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .model-selection,
  .textbox-4 {
    flex-wrap: wrap;
  }
  .textbox-4 {
    justify-content: center;
  }
  .container-39 {
    height: auto;
  }
  .inbox-content-generation {
    height: auto;
    gap: 24px;
  }
}
body {
  margin: 0;
  line-height: normal;
}

:root {

  /* font sizes */
  --font-size-2xs: 11px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-red-100: #ff0000;
  --color-dimgray-100: #5f5f5f;
  --color-black: #000;
  --color-whitesmoke-100: #f7f7f7;
  --color-whitesmoke-200: #ececec;
  --color-lightgray: #d4d4d4;
  --color-gray-100: #1a1a1a;
  --color-gray-200: rgba(26, 26, 26, 0.4);
  --color-gray-300: rgba(0, 0, 0, 0);

  /* Gaps */
  --gap-xl: 20px;
  --gap-7xs: 6px;
  --gap-9xs: 4px;
  --gap-5xs: 8px;
  --gap-smi: 13px;

  /* Paddings */
  --padding-smi: 13px;
  --padding-base: 16px;
  --padding-3xl: 22px;
  --padding-xl: 20px;
  --padding-6xl: 25px;
  --padding-4xs: 9px;
  --padding-xs: 12px;
  --padding-12xs: 1px;
  --padding-2xs: 11px;
  --padding-11xs: 2px;
  --padding-6xs: 7px;
  --padding-10xs: 3px;
  --padding-8xs: 5px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-mid: 17px;

  /* Border radiuses */
  --br-default: 4px;
  --br-xs: 4px;
  --br-4xs: 4px;

  --br-5xl: 24px;
  --br-lg: 18px;
  
}
</style>
