/* color palette from <https://github.com/vuejs/theme> */

/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: var(--weight-regular);
}

body {
  min-height: 100vh;
  color: var(--color-gray-900);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-family);
  font: var(--text-regular) var(--font-family);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
