/* Design System Variables */
:root {
  /* Primary Colors */
  --color-primary: #CD0022; /* RGB 205,0,34 - c12 m100 y89 k4 */
  --color-secondary: #245787; /* RGB 36,87,135 - c91 m63 y23 k8 */

  /* Thematic Colors */
  --color-collections: #29A900; /* RGB 41,169,0 - c77 m0 y100 k0 */
  --color-lexical: #E77E00; /* RGB 231,126,0 - c5 m59 y100 k0 */
  --color-editions: #00ABCC; /* RGB 0,168,204 - c75 m11 y15 k0 */
  --color-io: #AB86F0; /* RGB 171,134,240 - c47 m51 y0 k0 */
  --color-accent: #0039E6;

  /* Functional Colors */
  --color-danger: #FF080B;
  --color-warning: #FFC107;
  --color-success: #C6E600;
  --color-info: #0DCAF0;

  /* Neutral Colors */
  --color-light: #F8F9FA;
  --color-dark: #212529;
  --color-black: #000000;
  --color-white: #FFFFFF;

  /* Gray Scale */
  --color-gray-100: #F8F9FA;
  --color-gray-200: #E9ECEF;
  --color-gray-300: #DEE2E6;
  --color-gray-400: #CED4DA;
  --color-gray-500: #ADB5BD;
  --color-gray-600: #6C757D;
  --color-gray-700: #495057;
  --color-gray-800: #343A40;
  --color-gray-900: #212529;

  /* Background Colors */
  --color-background: var(--color-white);
  --color-background-alt: #EDEDED; /* RGB 237,237,237 - c0 m0 y0 k7 */
  --color-background-hover: rgba(0, 0, 0, 0.04);

  /* Typography */
  --font-family: 'Roboto Flex', sans-serif;

  /* Display Sizes */
  --display-1: 4.31rem/5.19rem; /* 51.72pt/62.3pt */
  --display-2: 3.56rem/4.31rem; /* 42.72pt/51.7pt */
  --display-3: 2.7368rem/3.575rem; /* 32.84pt/42.9pt */

  /* Headlines */
  --headline-1: 2.74rem/3.58rem;
  --headline-2: 2.07rem/2.69rem;
  --headline-3: 1.73rem/2.25rem;
  --headline-4: 1.44rem/1.88rem;
  --headline-5: 1.2rem/1.6rem;
  --headline-6: 1rem/1.19rem;

  /* Text Styles */
  --text-lead: 1.725rem/2.5rem; /* 20.7pt/30pt */
  --text-large: 1.19rem/2rem; /* 12.28pt/24pt */
  --text-regular: 1rem/1.75rem; /* 12pt/21pt */
  --text-small: 0.83rem/1.25rem; /* 9.96pt/15pt */
  --text-width: 87.5%;

  /* Font Weights */
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: 400;

  /* Border Radius - 7.14% of short side */
  --radius-base: 7.14%;
  --radius-small: calc(56px * var(--radius-base));
  --radius-medium: calc(112px * var(--radius-base));
  --radius-large: calc(275px * var(--radius-base));

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.05);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.05);
}

/* Base Styles */
body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray-900);
  background-color: var(--color-background);
}

/* Typography Classes */
.display-1 {
  font: var(--display-1) var(--font-family);
  font-weight: var(--weight-bold);
}

.display-2 {
  font: var(--display-2) var(--font-family);
  font-weight: var(--weight-bold);
}

.display-3 {
  font: var(--display-3) var(--font-family);
  font-weight: var(--weight-bold);
}

.headline-1 {
  font: var(--headline-1) var(--font-family);
  font-weight: var(--weight-bold);
}

.headline-2 {
  font: var(--headline-2) var(--font-family);
  font-weight: var(--weight-bold);
}

.headline-3 {
  font: var(--headline-3) var(--font-family);
  font-weight: var(--weight-bold);
}

.headline-4 {
  font: var(--headline-4) var(--font-family);
  font-weight: var(--weight-bold);
}

.headline-5 {
  font: var(--headline-5) var(--font-family);
  font-weight: var(--weight-bold);
}

.headline-6 {
  font: var(--headline-6) var(--font-family);
  font-weight: var(--weight-bold);
}

.subheadline-1 {
  font: var(--headline-1) var(--font-family);
  font-weight: var(--weight-medium);
}

.subheadline-2 {
  font: var(--headline-2) var(--font-family);
  font-weight: var(--weight-medium);
}

.subheadline-3 {
  font: var(--headline-3) var(--font-family);
  font-weight: var(--weight-medium);
}

.subheadline-4 {
  font: var(--headline-4) var(--font-family);
  font-weight: var(--weight-medium);
}

.subheadline-5 {
  font: var(--headline-5) var(--font-family);
  font-weight: var(--weight-medium);
}

.subheadline-6 {
  font: var(--headline-6) var(--font-family);
  font-weight: var(--weight-medium);
}

.text-lead {
  font: var(--text-lead) var(--font-family);
  font-weight: var(--weight-regular);
}

.text-large {
  font: var(--text-large) var(--font-family);
  font-weight: var(--weight-regular);
}

.text-regular {
  font: var(--text-regular) var(--font-family);
  font-weight: var(--weight-regular);
}

.text-small {
  font: var(--text-small) var(--font-family);
  font-weight: var(--weight-regular);
}