@import './base.css';
@import './colors.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--spacing-xl);
  font-weight: var(--weight-regular);
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: var(--spacing-xs);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-background-hover);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 var(--spacing-xl);
  }
}
