<template>
  <div id="app">
    <div
      v-if="hasAccess"
      id="nav"
    >
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
  computed: {
  },
  methods: {
  },
  mounted () {

  },
  destroyed () {
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;500;700&display=swap');
@import './assets/colors.css';

html, body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--color-background);
  color: var(--color-gray-900);
}

/* Reset default styles */
button {
  font-family: var(--font-family);
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

input, textarea {
  font-family: var(--font-family);
}

/* Common utility classes */
.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.shadow-sm {
  box-shadow: var(--shadow-sm);
}

.shadow-md {
  box-shadow: var(--shadow-md);
}

.shadow-lg {
  box-shadow: var(--shadow-lg);
}
</style>