<template>
    <v-dialog v-model="dialogModel" max-width="700px">
        <v-card class="base-llm-dialog">
            <v-card-title class="headline pa-4 primary white--text">Edit Base LLM</v-card-title>
                <v-card-text class="pa-4">
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-slider
                                v-model="temperature"
                                label="Temperature"
                                min="0"
                                max="1"
                                step="0.1"
                                thumb-label
                                thumb-color="#CD0022"
                                track-color="#CD0022"
                                :default-value="0.5"
                                >
                                    <template v-slot:append>
                                            <v-tooltip top>
                                            <template v-slot:activator="{ props }">
                                                <v-icon
                                                color="grey lighten-1"
                                                v-bind="props"
                                                v-on="on"
                                                >
                                                mdi-information-outline
                                                </v-icon>
                                            </template>
                                            <span>
                                                <div>A low temperature (e.g., 0-1) produces more predictable and logical responses,</div>
                                            <div>while higher temperatures (e.g., above 1) increase the possibility of more creative and unconventional responses. </div>
                                            <div>You can adjust the temperature setting to achieve different levels of predictability and creativity.</div>
                                            </span>
                                            </v-tooltip>
                                        </template>
                                    </v-slider>
                                </v-col>
                            <v-col cols="12">
                            <v-textarea
                            label="LLM Prompt"
                            model-value="You are a helpful assistant."
                            >
    <template v-slot:append>
                  <v-tooltip top>
                    <template v-slot:activator="{ props }">
                      <v-icon
                        color="grey lighten-1"
                        v-bind="props"
                        v-on="on"
                      >
                        mdi-information-outline
                      </v-icon>
                    </template>
                    <span>
                      <div>The system prompt is a special command or instruction given at the beginning of</div>
                       <div> a conversation to set the tone, context, or constraints for our interaction.</div>
                       <div>It's a way to guide the model's behavior and ensure that it responds in a helpful</div>
                         and appropriate manner.</span>
                  </v-tooltip>
            </template>
        </v-textarea>
    </v-col>
    </v-row>
    </v-container>
    </v-card-text>
    <v-card-actions class="pb-4 px-4">
    <v-spacer></v-spacer>
    <v-btn color="grey darken-1" text @click="$emit('close')">Cancel</v-btn>
    <v-btn color="secondary" @click="$emit('close')" elevation="2" :disabled="loading">Save</v-btn>
    </v-card-actions>
    </v-card>
    </v-dialog>
   </template>
   
   <script>
   export default {
    name: 'BaseDialog',
    props: {
    modelValue: {
    type: Boolean,
    required: true
    }
    },
    data() {
    return {
    temperature: 0.5
    }
    },
    computed: {
    dialogModel: {
    get() {
    return this.modelValue;
    },
    set(value) {
    this.$emit('update:modelValue', value);
    }
    }
    }
   };
   </script>
   