<template>
  <div id="chat-area" class="chat-area">
    <!-- Check if a conversation is selected -->
    <div v-if="selectedConversation">
      <div v-for="(message, index) in selectedConversation.messages" :key="index">
        <SentMessage v-if="message.role === 'user'" :content="message.content" />
        <ReceivedMessage 
          v-else 
          :content="message.content" 
          :sources="message.metadata.sources"
          :is-generating="message.isGenerating || false"
        />
      </div>
    </div>
    <div v-else>
      <p>No conversation selected.</p>
    </div>
  </div>
  <MessageInput />

</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
import SentMessage from './SentMessage.vue';  // Update with correct path
import ReceivedMessage from './ReceivedMessage.vue';  // Update with correct path
import MessageInput from './MessageInput.vue';  // Update with correct path

export default {
  components: {
    SentMessage,
    ReceivedMessage,
    MessageInput
  },
  computed: {
    ...mapGetters('conversationsStore', ['selectedConversation']),
    ...mapGetters('oidcStore', ['oidcUser'])
  },
  mounted() {
    // You can fetch conversations when the component is mounted if needed
  }
};
</script>


<style>
.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24.3px;
  overflow: auto;
  flex-grow: 1;
  scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */

}
</style>