<template>
  <v-dialog v-model="dialogModel" max-width="1000px" class="modern-dialog">
    <v-card class="custom-llm-dialog">
      <v-card-title class="headline">
        <span class="title-text">{{ dialogType == "add" ? "Add Custom LLM" : "Edit Custom LLM" }}</span>
      </v-card-title>
      <v-card-text class="dialog-content">
        <v-container class="pa-0">
          <v-row no-gutters>
            <v-col cols="5" class="left-panel">
              <!-- Files dataframe on the left side -->
              <div class="section-title mb-2">Files</div>
              <v-card class="file-table-card">
                <v-data-table
                  v-model="selectedFiles"
                  :items="
                    files.map((file) => ({
                      name: file.name || file,
                      id: files.indexOf(file),
                    }))
                  "
                  show-select
                  class="file-table"
                  :height="400"
                  fixed-header
                  dense
                  :items-per-page="100"
                  hide-default-footer
                >
                  <template v-slot:item.actions="{ item }">
                    <v-icon small @click="removeFile(item)" color="error"> mdi-delete </v-icon>
                  </template>
                </v-data-table>
                <div class="file-actions">
                  <v-btn prepend-icon="mdi-file-plus" class="add-file-btn" @click="$refs.fileInput.click()" size="small">
                    Add File
                  </v-btn>
                  <input multiple type="file" ref="fileInput" style="display: none" @change="addFiles($event.target.files)" />

                  <v-btn prepend-icon="mdi-delete-sweep" class="delete-all-btn" @click="deleteAllFiles" :disabled="!files.length" size="small">
                    Delete All
                  </v-btn>
                </div>
              </v-card>
            </v-col>
            <v-col cols="7" class="right-panel">
              <!-- Rest of the content on the right side -->
              <div class="form-section">
                <div class="section-title mb-2">Model Configuration</div>
                <v-text-field
                  v-model="name"
                  label="Give your LLM a name"
                  required
                  variant="outlined"
                  density="comfortable"
                  class="input-field"
                  hide-details="auto"
                >
                  <template v-slot:append>
                    <v-tooltip location="top">
                      <template v-slot:activator="{ props }">
                        <v-icon v-bind="props"> mdi-information-outline </v-icon>
                      </template>
                      <span>Insert LLM name</span>
                    </v-tooltip>
                  </template>
                </v-text-field>

                <v-select
                  v-model="selectedLLM"
                  :items="llmOptions"
                  item-title="title"
                  item-value="id"
                  label="Select LLM"
                  required
                  variant="outlined"
                  density="comfortable"
                  class="input-field"
                  hide-details="auto"
                >
                  <template v-slot:append>
                    <v-tooltip location="top">
                      <template v-slot:activator="{ props }">
                        <v-icon v-bind="props"> mdi-information-outline </v-icon>
                      </template>
                      <span>Select your preferred LLM model</span>
                    </v-tooltip>
                  </template>
                </v-select>

                <v-select
                  v-model="selectedEmbeddings"
                  :items="EmbeddingOptions"
                  item-title="title"
                  item-value="id"
                  label="Embedding Model"
                  required
                  variant="outlined"
                  density="comfortable"
                  class="input-field"
                  hide-details="auto"
                >
                  <template v-slot:append>
                    <v-tooltip location="top">
                      <template v-slot:activator="{ props }">
                        <v-icon v-bind="props"> mdi-information-outline </v-icon>
                      </template>
                      <div>It is NOT recommended to change the embeddings model after the files are uploaded</div>
                    </v-tooltip>
                  </template>
                </v-select>

                <div class="section-title mt-6">LLM Prompt</div>
                <v-textarea
                  v-model="collectionDict.prompt"
                  label="System prompt for the model"
                  variant="outlined"
                  class="prompt-field"
                  rows="4"
                  hide-details="auto"
                >
                  <template v-slot:append>
                    <v-tooltip location="top">
                      <template v-slot:activator="{ props }">
                        <v-icon v-bind="props"> mdi-information-outline </v-icon>
                      </template>
                      <span>
                        The system prompt guides the model's behavior and sets the context for interactions.
                      </span>
                    </v-tooltip>
                  </template>
                </v-textarea>

                <div class="section-title mt-6">Temperature</div>
                <v-slider
                  v-model="collectionDict.temperature"
                  min="0"
                  max="1"
                  step="0.1"
                  thumb-label
                  class="temperature-slider"
                >
                  <template v-slot:append>
                    <v-tooltip location="top">
                      <template v-slot:activator="{ props }">
                        <v-icon v-bind="props"> mdi-information-outline </v-icon>
                      </template>
                      <span>
                        Lower values (0-0.3) for more focused responses<br>
                        Medium values (0.3-0.7) for balanced responses<br>
                        Higher values (0.7-1.0) for more creative responses
                      </span>
                    </v-tooltip>
                  </template>
                </v-slider>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="dialog-actions">
        <v-spacer></v-spacer>
        <v-btn variant="text" class="cancel-btn" size="small" @click="$emit('close')">Cancel</v-btn>
        <v-btn class="save-btn" size="small" @click="saveCustomLLM" :disabled="loading" :loading="loading">
          Save
        </v-btn>
      </v-card-actions>

      <v-alert v-if="error" type="error" variant="tonal" class="mb-0 error-alert">{{ error }}</v-alert>
      <v-alert v-if="success" type="success" variant="tonal" class="success-alert">LLM saved successfully!</v-alert>
    </v-card>
  </v-dialog>
</template>

<script>
  import { CHAT_APP_API_URL } from "@/export";
import axios from "axios";
  import { mapGetters, mapActions } from "vuex";
import { inject } from "vue";
  import { useOidcStore } from "vue3-oidc";
import { getAuthHeaders } from '@/utils/auth';

  export default {
    props: {
      response: {
        type: Object,
        required: false,
        default: () => ({}),
      },
      collectionDict: {
        type: Object,
        required: false,
        default: () => ({}),
      },
      dialogType: {
        type: String,
        required: true,
        default: "add",
      },
      modelValue: {
        type: Boolean,
        required: true,
      },
    },

  data: () => ({
      state: useOidcStore().state,
      name: "",
      apiUrl: null,
      files: [],
      newFiles: [],
      selectedFiles: [],
      headers: [],
      temperature: 0.5,
      selectedLLM: "meta-llama-3.1-70b-instruct",
      llmOptions: [
        {
          id: "meta-llama-3.1-70b-instruct",
          title: "Meta LLaMA 3.1 70B Instruct",
        },

        { id: "orgunit_GWDG", title: "orgunit_GWDG" },
        {
          id: "meta-llama-3.1-8b-instruct",
          title: "Meta LLaMA 3.1 8B Instruct",
        },
        { id: "mixtral-8x7b-instruct", title: "Mixtral 8x7B Instruct" },
        { id: "qwen2-72b-instruct", title: "Qwen 2 72B Instruct" },
        { id: "org_GWD", title: "org_GWD" },
      ],
      selectedEmbeddings: "text-embedding-ada-002",
      EmbeddingOptions: [
        {
          id: "text-embedding-ada-002",
          title: "Text Embedding ADA 002",
          disabled: false,
        },
      ],
      loading: false,
      success: false,
      error: null,

    }),
  mounted() {
      const oidcUser = this.state.user

      this.apiUrl=inject(CHAT_APP_API_URL)
      this.files = this.$props.collectionDict?.cmetadata?.files ?? [];
      this.name = this.$props.dialogType == "edit" ? this.collectionDict.name : "";
    },
    methods: {
      addFiles(files) {
        this.newFiles =
         Array.from(files);
        this.files = [...this.files, ...this.newFiles];
      },
      deleteAllFiles() {
        this.files = this.files.filter((file) => !file);
      },
      async saveCustomLLM() {
        this.error = null;
        
        // Check for empty name
        if (!this.name || this.name.trim() === '') {
          this.error = "Error: Please provide a name for your LLM";
          return;
        }

        // Check for files
        if (this.files.length === 0) {
          this.error = "Error: Please add at least one file";
          return;
        }
        
        this.loading = true;
        const isEditing = !!this.collectionDict;

        try {
          const headers = await getAuthHeaders();
          if (!headers.Authorization) {
            throw new Error('No valid authorization token available');
          }

          const formData = new FormData();
          formData.append(
            "config",
            JSON.stringify({
              collection_name: this.name,
              LLMname: this.selectedLLM,
              uuid: this.collectionDict.id,
              EmbeddingsName: this.selectedEmbeddings,
              temperature: this.collectionDict.temperature,
              prompt: this.collectionDict.prompt,
            })
          );
          
          this.newFiles.forEach((file) => {
            formData.append("files", file);
          });

          const response = await fetch(`${this.apiUrl}/createLLM`, {
            method: "POST",
            body: formData,
            headers: {
              "Authorization": headers.Authorization
            }
          });

          if (!response.ok) {
            if (response.status === 401) {
              console.error("[API] Unauthorized error while creating custom LLM");
              throw new Error('Unauthorized - Please log in again');
            }
            throw new Error(`Failed to create custom LLM: ${response.statusText}`);
          }

          this.success = true;
          setTimeout(() => {
            this.$emit("close");
          }, 1000);
        } catch (error) {
          console.error("[API] Error saving custom LLM:", error);
          this.error = error.message;
        } finally {
          this.loading = false;
        }
      },
    },
    computed: {
      ...mapGetters("oidcStore", ["oidcIsAuthenticated", "oidcUser", "oidcAccessToken"]),
      dialogModel: {
        get() {
          return this.modelValue;
        },
        set(value) {
          this.$emit("update:modelValue", value);
        },
      },
      user() {
        // Computed property for the user profile
        return this.state.user || null;
      }
    },
  };
</script>

<style>
.modern-dialog {
  --dialog-radius: calc(24px * var(--radius-base));
}

.custom-llm-dialog {
  border-radius: var(--dialog-radius) !important;
  overflow: hidden;
  background-color: var(--color-white) !important;
  box-shadow: var(--shadow-lg) !important;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
}

.dialog-content {
  flex: 1;
  overflow: hidden;
}

/* Header styling */
.custom-llm-dialog .headline {
  background-color: var(--color-primary) !important;
  padding: var(--spacing-lg) var(--spacing-xl) !important;
  position: relative;
}

.title-text {
  color: var(--color-white) !important;
  font: var(--headline-4) var(--font-family) !important;
  font-weight: var(--weight-bold) !important;
  letter-spacing: -0.02em;
}

/* Panel styling */
.left-panel {
  background-color: var(--color-light) !important;
  padding: var(--spacing-lg) !important;
  border-right: 1px solid var(--color-gray-200);
  min-height: 520px;
  max-height: 650px;
  display: flex;
  flex-direction: column;
}

.right-panel {
  padding: var(--spacing-lg) !important;
  background-color: var(--color-white) !important;
  max-height: 650px;
  overflow-y: auto;
}

.section-title {
  font: var(--text-regular) var(--font-family) !important;
  font-weight: var(--weight-bold) !important;
  color: var(--color-gray-900) !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* File table styling */
.file-table-card {
  background-color: var(--color-white) !important;
  border-radius: calc(12px * var(--radius-base)) !important;
  border: 1px solid var(--color-gray-200) !important;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.file-table {
  background: transparent !important;
  flex: 1;
  height: 400px !important;
}

.file-table :deep(.v-data-table-header) {
  background-color: var(--color-gray-100) !important;
}

.file-table :deep(.v-data-table-header th) {
  font: var(--text-small) var(--font-family) !important;
  font-weight: var(--weight-bold) !important;
  color: var(--color-gray-700) !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: var(--spacing-xs) var(--spacing-sm) !important;
}

.file-table :deep(.v-data-table__wrapper) {
  padding: 0 !important;
}

.file-table :deep(.v-data-table__wrapper td) {
  padding: var(--spacing-xs) var(--spacing-sm) !important;
  font-size: 13px !important;
}

.file-actions {
  display: flex;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
  background-color: var(--color-light);
  border-top: 1px solid var(--color-gray-200);
}

/* Form styling */
.form-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.input-field {
  margin-bottom: var(--spacing-sm) !important;
}

/* Reduce the height of input fields */
.input-field :deep(.v-field__input),
.input-field :deep(.v-field) {
  min-height: 40px !important;
  padding: 0 var(--spacing-md) !important;
}

.prompt-field :deep(.v-field__input) {
  min-height: 80px !important;
}

/* Button styling */
.dialog-actions {
  padding: var(--spacing-md) var(--spacing-xl) !important;
  background-color: var(--color-light) !important;
  border-top: 1px solid var(--color-gray-200) !important;
}

.cancel-btn {
  color: var(--color-gray-700) !important;
  font: var(--text-small) var(--font-family) !important;
  font-weight: var(--weight-medium) !important;
  letter-spacing: 0.3px;
  height: 32px !important;
}

.save-btn {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
  font: var(--text-small) var(--font-family) !important;
  font-weight: var(--weight-medium) !important;
  padding: 0 var(--spacing-lg) !important;
  border-radius: calc(32px * var(--radius-base)) !important;
  letter-spacing: 0.3px;
  box-shadow: var(--shadow-sm) !important;
  transition: all 0.2s ease;
  height: 32px !important;
}

.add-file-btn, .delete-all-btn {
  font: var(--text-small) var(--font-family) !important;
  font-weight: var(--weight-medium) !important;
  border-radius: calc(32px * var(--radius-base)) !important;
  flex: 1;
  height: 32px !important;
}

/* Alert styling */
.error-alert, .success-alert {
  margin: 0 !important;
  border-radius: 0 !important;
  font: var(--text-regular) var(--font-family) !important;
}

.error-alert {
  background-color: var(--color-danger) !important;
  color: var(--color-white) !important;
}

.success-alert {
  background-color: var(--color-success) !important;
  color: var(--color-white) !important;
}

/* Icon styling */
.v-icon {
  color: var(--color-gray-500) !important;
  transition: color 0.2s ease;
}

.v-icon:hover {
  color: var(--color-primary) !important;
}
</style>
