<template>
  <div>
    <v-row>
      <v-menu v-model="menu">
        <template v-slot:activator="{ props }">
          <div v-bind="props" class="custom-btn">
            <span style="font-size: 24px">{{ selectedModel?.name ? selectedModel.name : "Model Selection:" }}</span>
            <span style="margin-left: 8px">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4" />
              </svg>
            </span>
          </div>
        </template>
        <v-list>
          <v-list-group>
            <template v-slot:activator="{ props }">
              <v-list-item v-bind="props">
                <v-list-item-title style="font-size: 16px; font-weight: bold">Base Models</v-list-item-title>
              </v-list-item>
            </template>
            <v-list-item v-for="(model, i) in getModelList.filter((model) => model.type === 'base')" :key="i" @click="selectItem(model)">
              <v-list-item-title style="font-size: 16px">{{ model.name }}</v-list-item-title>
              <template v-slot:append>
                <v-icon icon="mdi-cog-outline" @click.stop="openBaseDialog(model)"></v-icon>
              </template>
            </v-list-item>
          </v-list-group>
          <v-list-group>
            <template v-slot:activator="{ props }">
              <v-list-item v-bind="props">
                <v-list-item-title style="font-size: 16px; font-weight: bold">Custom Models</v-list-item-title>
              </v-list-item>
            </template>
            <v-list-item v-for="(model, i) in getModelList.filter((model) => model.type === 'custom')" :key="i" @click="selectItem(model)">
              <v-list-item-title style="font-size: 16px" @click="selectItem(model)">{{ model.name }}</v-list-item-title>
              <template v-slot:append>
                <v-menu>
                  <template v-slot:activator="{ props }">
                    <v-icon v-bind="props" icon="mdi-dots-vertical"></v-icon>
                  </template>
                  <v-list>
                    <v-list-item @click="editCustomModel(model)">
                      <v-list-item-title>Edit</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="deleteCustomModel(model)">
                      <v-list-item-title>Delete</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
            </v-list-item>
          </v-list-group>
          <v-divider></v-divider>
          <v-list-item @click="addCustomModel">
            <v-list-item-title style="font-size: 16px; font-weight: bold">Add a Custom Model ...</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-row>

    <CustomDialog
      v-if="dialogCustomLLM"
      v-model="dialogCustomLLM"
      :response="response"
      :collectionDict="llmSettings"
      :dialogType="dialogType"
      :getModelList="filteredgetModelList"
      :dialog="dialogCustomLLM"
      @close="closeCustomDialog"
    />
    <BaseDialog v-if="dialogBase" :selectedModel="selectedItem" v-model="dialogBase" @close="closeBaseDialog" />
  </div>
</template>

<script>
  import CustomDialog from "./CustomDialog.vue";
import BaseDialog from "./BaseDialog.vue";
  import 'vuetify/styles';
  import { mapGetters, mapActions, mapMutations } from "vuex";
import { CHAT_APP_API_URL } from "@/export";
import { inject } from "vue";
  export default {
    components: {
      CustomDialog,
      BaseDialog,
    },
    props: {
      selectedItem: {
        type: Object,
      },
    },
    data: () => ({
      menu: false,
      apiUrl: null,
      dialogCustomLLM: false,
      dialogBase: false,
      dialogType: "",
      response: null,
      llmSettings: null,
      llmDefault: {
        prompt: "You are a helpful assistant.",
        temperature: 0.5,
      },
      baseModels: [],
    }),
    computed: {
      ...mapGetters("modelStore", ["getModelList", "selectedModel"]),
      filteredgetModelList() {
        return this.getModelList.filter((option) => option.type === "base");
      },
    },
  mounted() {
      this.apiUrl = inject(CHAT_APP_API_URL)
    },
    methods: {
      ...mapActions("modelStore", ["fetchAllModels", "deleteModelAction"]),
      ...mapMutations("modelStore", [
        "setSelectedModel", // Assuming setSelectedModel is a mutation
      ]),
      openBaseDialog(model) {
        this.dialogBase = true;
        this.menu = false;
      },

      closeBaseDialog() {
        this.dialogBase = false;
        this.fetchAllModels(this.apiUrl);
      },
      selectItem(model) {
        //console.log("old: ", this.selectedModel);
        this.setSelectedModel(model);
        this.menu = false;
        //console.log("new: ", this.selectedModel);
      },
      addCustomModel() {
        this.llmSettings = this.llmDefault;
        this.dialogType = "add";
        this.dialogCustomLLM = true;
        this.menu = false;
      },
      editCustomModel(model) {
        this.llmSettings = model;
        this.dialogType = "edit";
        this.dialogCustomLLM = true;
        this.menu = false;
      },
      closeCustomDialog() {
        this.dialogCustomLLM = false;
        this.llmSettings = null;
        this.fetchAllModels(this.apiUrl);
      },
      deleteCustomModel(model) {
        this.deleteModelAction({ model, url: this.apiUrl });
        this.fetchAllModels(this.apiUrl);
      },
    },
  };
</script>
