<template>
  <div class="prompt-options">
    <div class="prompt-buttons">
      <div class="regenerate-area">
        <div class="regenerate-options">
          <div class="regenerate-button-area">
            <button class="button-13" @click="undoMessage">
              <div class="regenerate">Undo</div>
              <v-icon icon="mdi-restore"></v-icon>
            </button>
            <button class="button-13" @click="regenerateMessage">
              <v-icon icon="mdi-reload"></v-icon>
              <div class="regenerate">Regenerate</div>
            </button>
          </div>
          <div class="container-39">
            <div class="textbox-4">
              <input
                id="message-input"
                class="send-your-message"
                placeholder="Send your message"
                type="text"
                v-model="messageInput"
                @keyup.enter="handleEnterKey"
                autocomplete="off"
              />

              <div class="send-message">
                <div class="send-options">
                  <button id="send-button" aria-label="Send Message" @click="sendMessage">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                      <path
                        d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="disclaimer">
        <div class="text-plus-bot-may-produce-container">
          <span>Text+ Chatbot may produce inaccurate information about people, places, or facts. See also the</span>
          <a href="https://text-plus.org/en/privacy-policy/" target="_blank" class="privacy-notice">Privacy Notice</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { CHAT_APP_API_URL } from "@/export";
import { mapGetters, mapActions, mapMutations } from "vuex";
import { inject } from "vue";
import { useOidcStore } from "vue3-oidc";
import { getAuthHeaders } from '@/utils/auth';
  export default {
    data() {
      return {
        messageInput: "",
        apiUrl: null,
        state: useOidcStore().state,

      };
  },
  mounted() {
      this.apiUrl = inject(CHAT_APP_API_URL);
    },
    computed: {
      ...mapGetters("conversationsStore", ["selectedConversation"]),
      ...mapGetters("conversationsStore", ["conversations"]),
      ...mapGetters("modelStore", ["getModelList", "selectedModel"]),
      user() {
      // Computed property for the user profile
      return this.state.user || null;
    },
    },
    methods: {
      ...mapActions("conversationsStore", ["updateConversationAction"]),
      ...mapMutations("modelStore", ["setSelectedModel"]),
      ...mapActions("conversationsStore", ["setSelectedConversation"]),
      handleEnterKey() {
        this.sendMessage();
      },
      findLastUserMessage() {
        if (!this.selectedConversation || this.selectedConversation.messages.length === 0) {
          console.error("Conversation not found or no messages available");
          return;
        }

        // Find the index of the last message with the role 'user'
        const lastUserIndex = this.selectedConversation.messages.map((m) => m.role).lastIndexOf("user");

        if (lastUserIndex === -1) {
          console.error("No user messages found");
          return;
        }

        // Get the text of the last message with the role 'user'
        const lastUserMessage = this.selectedConversation.messages[lastUserIndex];
        const userMessageText = lastUserMessage.content;

        // Save the text to a variable
        return userMessageText;
      },

      undoMessage() {
        //console.log(this.selectedConversation);

        this.messageInput = this.findLastUserMessage();

        this.$store.commit("conversationsStore/removeLastAssistantAndUser");
      },

      regenerateMessage() {
        // Find the conversation with the specified ID
        this.messageInput = this.findLastUserMessage();

        this.$store.commit("conversationsStore/removeLastAssistantAndUser");

        if (this.selectedConversation) {
          this.sendMessage();
        }
      },

      async createConversationAndSendMessage(message) {
        try {
          const headers = await getAuthHeaders();
          if (!headers.Authorization) {
            throw new Error('No valid authorization token available');
          }

          const response = await fetch(`${this.apiUrl}/conversations`, {
            method: "POST",
            headers,
            body: JSON.stringify({
              user_id: this.user.profile.goe_id,
              topic: "New Conversation",
            }),
          });
          
          if (response.ok) {
            const newConversation = await response.json();

            // Generate title for the new conversation
            const titleResponse = await fetch(`${this.apiUrl}/generate_title`, {
              method: 'POST',
              headers,
              body: JSON.stringify({
                conversation_id: newConversation.id,
                messages: [message]
              }),
            });

            if (!titleResponse.ok) {
              console.error('Failed to generate title:', await titleResponse.json());
            }

            // Fetch updated conversations and wait for it to complete
            await this.$store.dispatch("conversationsStore/fetchConversations", this.apiUrl);
            
            // Get the latest conversations after the fetch is complete
            const latestConversation = this.conversations[0];
            if (latestConversation) {
              // Set the selected conversation
              await this.setSelectedConversation(latestConversation);
              
              // Update the conversation categories in ChatHistory
              this.$store.commit("conversationsStore/triggerConversationUpdate");
              
              // Now send the message with the new conversation
              await this.sendMessage();
            }
          } else {
            if (response.status === 401) {
              console.error("[API] Unauthorized error while creating conversation");
              throw new Error('Unauthorized - Please log in again');
            }
            const errorData = await response.json();
            console.error("Failed to create conversation:", errorData);
          }
        } catch (error) {
          console.error("Error creating conversation:", error);
        }
      },

      async sendMessage() {
        if (!this.messageInput.trim()) return;

        const newMessage = {
          role: "user",
          content: this.messageInput,
        };

        if (!this.selectedConversation) {
          await this.createConversationAndSendMessage(newMessage);
          return;
        }

        if (this.selectedConversation) {
          // Add user message to Vuex store and clear input
          this.$store.commit("conversationsStore/setNewMessage", {
            conversationId: this.selectedConversation.id,
            message: {
              role: "user",
              content: this.messageInput,
              metadata: {},
            },
          });
          this.messageInput = "";

          if (!this.selectedModel) this.setSelectedModel(this.getModelList[0]);

          try {
            const headers = await getAuthHeaders();
            if (!headers.Authorization) {
              throw new Error('No valid authorization token available');
            }

            const response = await fetch(`${this.apiUrl}/service/`, {
              method: "POST",
              headers,
              body: JSON.stringify({ conversation: this.selectedConversation.messages, model: this.selectedModel }),
            });

            if (!response.ok) {
              if (response.status === 401) {
                console.error("[API] Unauthorized error - Token may be invalid");
                throw new Error('Unauthorized - Please log in again');
              }
              throw new Error(`API error: ${response.status}`);
            }

            const reader = response.body.getReader();
            const decoder = new TextDecoder("utf-8");
            let resultString = "";
            let sources = [];
            
            // Add assistant message with isGenerating set to true
            this.$store.commit("conversationsStore/setNewMessage", {
              conversationId: this.selectedConversation.id,
              message: {
                role: "assistant",
                content: resultString,
                metadata: {},
                isGenerating: true
              },
            });

            const messageIndex = this.selectedConversation.messages.length - 1;
            const self = this; // Store reference to component instance

            async function processResult(result) {
              if (result.done) {
                // Set isGenerating to false when done
                self.$store.commit("conversationsStore/updateMessageGeneratingState", {
                  conversationId: self.selectedConversation.id,
                  messageIndex,
                  isGenerating: false
                });
                return;
              }
                
              const decodedResult = decoder.decode(result.value);
              const jsonStrings = decodedResult.split("\n");
              jsonStrings.forEach((jsonStr) => {
                if (jsonStr !== "") {
                  try {
                    const responseObj = JSON.parse(jsonStr);
                    if (responseObj.event === "on_chat_model_stream") {
                      let token = responseObj.data;
                      if (token.endsWith(".") || token.endsWith("!") || token.endsWith("?")) {
                        resultString += token + "\n";
                        self.$store.commit("conversationsStore/updateLastMessageContent", {
                          conversationId: self.selectedConversation.id,
                          content: resultString,
                        });
                      } else {
                        resultString += token;
                        self.$store.commit("conversationsStore/updateLastMessageContent", {
                          conversationId: self.selectedConversation.id,
                          content: resultString,
                        });
                      }
                    } else if (responseObj.event === "on_chat_model_end") {
                      if (responseObj.sources) {
                        // Filter out empty strings and only keep non-empty sources
                        sources = responseObj.sources.filter(source => source && Object.keys(source).length > 0);
                        if (sources.length > 0) {
                          self.$store.commit("conversationsStore/updateLastMessageMetadata", {
                            conversationId: self.selectedConversation.id,
                            metadata: { sources: sources },
                          });
                        }
                      }

                      // Call sendMessageAction after processing "on_chat_model_end" event
                      self.updateConversationAction({
                        conversationId: self.selectedConversation.id,
                        messages: self.selectedConversation.messages,
                        url: self.apiUrl
                      });
                    }
                  } catch (e) {
                    console.error("Failed to parse JSON string:", jsonStr, "Error:", e);
                  }
                }
              });

              return reader.read().then(processResult.bind(this));
            }

            await reader.read().then(processResult.bind(this));
          } catch (error) {
            console.error("[API] Error sending message:", error);
          }
        } else {
          console.error("No conversation selected to send the message.");
        }
      },
    },
    watch: {
      getModelList: {
        handler(newModelList) {
          // If the selected model is no longer in the list, reset it to the first available model
          if (this.selectedModel && !newModelList.find(model => model.id === this.selectedModel.id)) {
            this.setSelectedModel(newModelList.length > 0 ? newModelList[0] : null);
          }
        },
        deep: true
      }
    },
  };
</script>

<style>
  .arrows-counter-clockwise {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .regenerate-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
  }
  .regenerate {
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 22px;
    color: var(--color-dimgray-100);
    text-align: left;
    display: inline-block;
    min-width: 75px;
  }
  .button-13,
  .regenerate-button-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .button-13 {
    align-items: center;
    cursor: pointer;
    border: 0;
    padding: var(--padding-6xs) var(--padding-2xs) var(--padding-6xs) var(--padding-xs);
    background-color: var(--color-whitesmoke-200);
    border-radius: var(--br-xs);
    overflow: hidden;
    justify-content: flex-start;
    margin-left: 5px;
    margin-right: 5px;

    gap: var(--gap-7xs);
  }
  .regenerate-button-area {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-3xl) 0 var(--padding-xl);
  }
  .send-your-message {
    width: inherit;
    border: 0;
    outline: 0;
    font-size: 18px;
    background-color: transparent;
    height: 28px;
    position: relative;
    line-height: 28px;
    color: #000000;
    text-align: left;
    display: inline-block;
    padding: 0;
    flex-grow: 1;
  }
  #send-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin-left: auto;
  }
  .mic-icon,
  .paper-plane-tilt {
    position: absolute;
    top: 0;
    left: 32px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .mic-icon {
    left: 0;
  }
  .send-options {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .send-message {
    width: 56px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
    box-sizing: border-box;
  }
  .container-39,
  .regenerate-options,
  .textbox-4 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .textbox-4 {
    flex: 1;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-xs) 21px var(--padding-2xs) var(--padding-xl);
    min-height: 53px;
    gap: var(--gap-xl);
    flex-shrink: 0;
  }
  .container-39,
  .regenerate-options {
    justify-content: flex-start;
  }
  .container-39 {
    align-self: stretch;
    height: 52px;
    box-shadow: 0 0 2px rgba(255, 0, 0, 0.12), 0 8px 17px rgba(255, 0, 0, 0.15);
    border-radius: var(--br-xs);
    background-color: var(--color-red-100);
    flex-direction: row;
    padding: 0 var(--padding-12xs) var(--padding-12xs) 0;
    box-sizing: border-box;
  }
  .regenerate-options {
    flex: 1;
    flex-direction: column;
    gap: 12px;
  }
  .prompt-buttons,
  .regenerate-area {
    align-self: stretch;
    display: flex;
    max-width: 100%;
  }
  .regenerate-area {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-4xs) 0 var(--padding-xs);
    box-sizing: border-box;
  }
  .prompt-buttons {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .privacy-notice {
    text-decoration: underline;
    color: var(--color-red-100);
  }
  .text-plus-bot-may-produce-container {
    position: relative;
    line-height: 18px;
  }
  .disclaimer {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-6xl);
    text-align: center;
    font-size: var(--font-size-2xs);
    color: var(--color-dimgray-100);
  }
  .prompt-options {
    background-color: white;
    position: fixed;
    bottom: 15px;
    width: 821px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1; /* Ensure it's above other content */
    gap: var(--gap-xl);
    max-width: 100%;
  }

  .inbox-content-generation-child {
    height: 123px;
    width: 822px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    max-width: 100%;
    z-index: 2;
  }
  .inbox-content-generation {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(100% - var(--padding-base));
    /* height: calc(100% - var(--padding-smi) - var(--padding-base)); */
    box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-smi) var(--padding-base) var(--padding-base);
    box-sizing: border-box;
    gap: 48px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
  }
</style>
