<template>
    <div class="prompt-list">
    <div class="past-prompts">
      <div class="hidden-prompts">
        <div class="button-20">
          <div class="hide-promts">Hide Promts</div>
          <div class="hide-icon">
          </div>
        </div>
        
        <div class="additional-prompts">
          <button class="button-21">
            <div class="show-me-the">
              Show me the temperature today
            </div>
          </button>
          <button class="button-17">
            <div class="why-does-it"> Help me with my homework </div>
          </button>
          <button class="button-18">
            <div class="do-you-feel">
              Who wrote the Art of War?
            </div>
          </button>
        </div>
      </div>
      <button class="button-19">
        <div class="what-kind-of">
          Suggest me an action movie
        </div>
      </button>
    </div>
    <div class="button-22">
      <div class="what-is-the">
        What is the weather forecast for the next five days in my
        area, including high and low temperatures
      </div>
    </div>
  </div>
</template>

<style>
.prompt-list {
  align-self: stretch;
  flex-direction: column;
  padding: 23px 97px var(--padding-base) var(--padding-6xl);
  gap: var(--gap-9xs);
    overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.past-prompts {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-7xs);
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.additional-prompts {
  align-self: stretch;
  flex-direction: row;
  gap: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hidden-prompts {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hide-promts {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 73px;
}
.hide-icon {
  flex-direction: column;
  padding: 4px 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-20 {
  border-radius: var(--br-4xs);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-5xs);
  gap: var(--gap-9xs);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-18 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-5xs);
  background-color: var(--color-whitesmoke-200);
  flex: 1;
  border-radius: var(--br-4xs);
  overflow: hidden;
  flex-direction: row;
  box-sizing: border-box;
  min-width: 148px;
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.button-19 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-6xs) var(--padding-8xs)
    var(--padding-5xs);
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-4xs);
  overflow: hidden;
  align-items: flex-start;
  white-space: nowrap;
}
.button-21 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-5xs);
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-4xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}

.button-22 {
  border-radius: var(--br-4xs);
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-5xs);
  font-size: var(--font-size-2xs);
  color: var(--color-dimgray-100);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.button-17:hover,
.button-18:hover,
.button-19:hover,
.button-21:hover,
.button-22:hover {
  background-color: var(--color-lightgray);
}
.do-you-feel {
  position: relative;
  font-size: var(--font-size-2xs);
  line-height: 18px;
  color: var(--color-dimgray-100);
  text-align: left;
}

.what-kind-of {
  position: relative;
  font-size: var(--font-size-2xs);
  line-height: 18px;
  color: var(--color-dimgray-100);
  text-align: left;
}

.what-is-the {
  position: relative;
  line-height: 18px;
}

.show-me-the {
  position: relative;
  font-size: var(--font-size-2xs);
  line-height: 18px;
  color: var(--color-dimgray-100);
  text-align: left;
}

.why-does-it {
  position: relative;
  font-size: var(--font-size-2xs);
  line-height: 18px;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  min-width: 87px;
}
</style>