<template>
  <div class="chat-output">
    <div class="output-area">
      <img
        :class="['image-14-icon', { 'rotating-logo': isGenerating }]"
        loading="lazy"
        alt=""
        src="@/assets/text-plus-logo.svg"
      />
      <div class="received-message-container">
        <div class="response-content">
          <div class="the-two-main-container">
            <!-- Use v-html to render HTML content with proper formatting -->
            <p class="the-two-main" v-html="formattedContent"></p>
          </div>
          <div class="container-37" v-if="props.sources?.length > 0">
            <v-icon right>
              mdi-content-copy
            </v-icon>
            <div class="sources-container" @click="toggleSources">
              Sources
              <v-icon right>
                {{ showSources ? 'mdi-arrow-up-right' : 'mdi-arrow-down-right' }}
              </v-icon>
            </div>
          </div>
        </div>
      </div>
      <!-- Collapsible container should be outside received-message-container but inside output-area -->
      <div v-if="showSources && props.sources?.length > 0" class="collapsible-container">
        <p
          v-for="(source, index) in props.sources"
          :key="index"
          class="source-item"
          @click="toggleSourceDetails(index)"
        >
          {{ source.metadata?.source || 'Unknown source' }}, Page: {{ source.metadata?.page || 'N/A' }}
          <p class="source-item-content" v-if="isSourceDetailVisible(index)">{{ source.page_content || 'No content available' }}</p>
        </p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';

// Define the props
const props = defineProps<{
  content: string;
  sources: Array<{
    metadata: {
      source: string;
      page: number;
    };
    page_content: string;
  }>;
  isGenerating: {
    type: Boolean,
    default: false
  };
}>();

// State to control the visibility of the collapsible container
const showSources = ref(false);

// State to track the visibility of source details
const sourceDetailsVisibility = ref<boolean[]>([]);

// Function to toggle the collapsible container
const toggleSources = () => {
  showSources.value = !showSources.value;
};

// Function to toggle the visibility of source details
const toggleSourceDetails = (index: number) => {
  sourceDetailsVisibility.value[index] = !sourceDetailsVisibility.value[index];
};

// Check if source details are visible
const isSourceDetailVisible = (index: number) => {
  return sourceDetailsVisibility.value[index];
};

// Compute formatted content with line breaks replaced by <br> tags
const formattedContent = computed(() => {
  return props.content
    ? props.content
        .split('\n')
        .map(line => line.trim() ? `<p>${line}</p>` : '<br>')
        .join('')
    : '';
});
</script>



<style>
.container-37 {
  display: flex;
  height: 32px;
  width: 108px;
  position: absolute;
  margin: 0 !important;
  right: -44px;
  bottom: -35px;
  border-radius: var(--br-xs);
  z-index: 1;
  background-color: var(--color-whitesmoke-200);
  align-items: center;
  justify-content: space-evenly;
}
.container-37 .v-icon {
  font-size: 16px; /* or any other size you prefer */
}
.sources-container {
  display: flex;
  margin-left: 4px; /* adjust the value to your liking */
  align-items: center;
  cursor: pointer; /* Add pointer cursor for clickable effect */
}
.response-content {
  flex: 1;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
}
.chat-output,
.received-message-container,
.output-area,
.response-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.received-message-container {
  flex: 1;
  border-radius: 0 var(--br-5xl) var(--br-5xl) var(--br-5xl);
  background-color: var(--color-white);
  border: 2px solid #f4f4f4;
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-3xl) 32px;
  min-width: 433px;
  margin-bottom: 10px;

  position: relative; /* Ensure positioning context */
}
.chat-output,
.output-area {
  justify-content: center;
}
.output-area {
  margin-right: 141px;
  width: 710px;
  flex-wrap: wrap;
  gap: var(--gap-5xs);
  position: relative; /* Ensure positioning context for collapsible */
}
.chat-output {
  width: 894px;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}

.collapsible-container {
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: var(--color-whitesmoke-200);
  border-radius: 0 0 var(--br-5xl) var(--br-5xl);
  margin-top: 10px;
  width: 100%; /* Adjust width as needed */
  box-sizing: border-box;
}
.source-item {
 margin-bottom: 10px;
}
.source-item-content {
 margin-bottom: 10px;
 margin-left: 40px;
 margin-top: 10px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-14-icon {
  width: 40px;
  height: 40px;
  transform-origin: center;
}

.rotating-logo {
  animation: rotate 2s linear infinite;
}
</style>
