<template>
  <div class="chat-input">
    <div class="input-area">
      <div class="sent-message-container">
        <div class="sent-message">
          {{ content }}
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="gray" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
      </svg>
    </div>
  </div>
</template>

<script setup lang="ts">

// Define the props
const props = defineProps({
  content: String
})
</script>

<style>
.sent-message {
  position: relative;
  line-height: 26px;
}
.sent-message-container {
  flex: 1;
  border-radius: var(--br-5xl) var(--br-5xl) 0 var(--br-5xl);
  background-color: rgba(255, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) 32px;
  box-sizing: border-box;
  min-width: 345px;
  max-width: 100%;
  margin-bottom: 10px;
}
.chat-input,
.input-area {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.input-area {
  width: 710px;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.chat-input {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 147px;
  box-sizing: border-box;
}
</style>
